#post {
    header {
        height: 123px;
    }
    footer {
        height: 41px;
    }
    #back {
        padding: 5px 60px;
        display: block;
        margin: 0 auto;
        background-color: black;
        cursor: pointer;
    }
    .container-wrapper {
        color: white;
        height: 657px;
        h1 {
            font-size: 40px;
            text-align: center;
            font-weight: 900;
            padding-top: 30px;
        }
        #main_form {
            height: 400px;
            #fileUp {
                margin: 30px 0;
                text-align: center;
                input {
                    font-size: 18px;
                }
            }
            p {
                text-align: center;
                font-size: 20px;
            }
            // label>input {
            //     display: none;
            //     /* アップロードボタンのスタイルを無効にする */
            // }
            // label {
            //     margin: 0 auto;
            //     color: #AAAAAA;
            //     /* ラベルテキストの色を指定する */
            //     background-color: #006DD9;
            //     /* ラベルの背景色を指定する */
            //     padding: 10px;
            //     /* ラベルとテキスト間の余白を指定する */
            //     border: double 4px #AAAAAA;
            //     /* ラベルのボーダーを指定する */
            // }
            #upload {
                padding: 5px 40px;
                display: block;
                margin: 50px auto;
                background-color: black;
                cursor: pointer;
                width: 30%;
            }
        }
    }
}