@charset "UTF-8";
#service {
    .textbox {
        width: 80%;
        margin: 0 auto;
        h1 {
            font-size: 20px;
            margin: 0 auto;
            text-align: center;
        }
        p {
            font-size: 15px;
        }
        form {
            margin: 50px 0;
        }
        #back {
            padding: 5px 30px;
            display: block;
            margin: 0 auto;
            background-color: black;
            cursor: pointer;
        }
    }
}