footer {
    height: 5%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-size: 20px;
        font-weight: 800;
        width: 20%;
        text-align: center;
        color: white;
    }
    .footer-text {
        a {
            text-decoration: none;
            color: whitesmoke;
            font-size: 15px;
        }
        display: flex;
        justify-content: space-around;
        width: 20%;
    }
}